<mat-card>
	<mat-card-header>
		<h1>Account State</h1>
	</mat-card-header>
	<hr class="mx-4 my-4" />
	<mat-card-content>
		<div *ngIf="isAuthenticated">
			<button
				mat-raised-button
				color="primary"
				(click)="refreshSession()">
				Refresh Session
			</button>
		</div>

		<br />

		Is Authenticated: {{ isAuthenticated }}

		<br />

		User Data:
		<pre>{{ userData$ | async | json }}</pre>

		Configuration loaded:
		<pre>{{ configuration$ | async | json }}</pre>
	</mat-card-content>
</mat-card>
