<mat-toolbar color="primary">
	<div class="container mx-auto flex items-center justify-between">
		<a routerLink="/">
			<img
				src="assets/img/logo/dsc_logo.png"
				alt="Google DSC Logo"
				class="mr-4 inline-block h-14" />
			<span>Google DSC TARUMT</span>
		</a>

		<div class="flex gap-3">
			<button mat-button [matMenuTriggerFor]="menu">E-commerce</button>
			<mat-menu #menu="matMenu" xPosition="before">
				<button
					*ngIf="userData.isAdmin"
					mat-menu-item
					routerLink="/ecommerce/admin">
					Admin Panel
				</button>
				<button mat-menu-item routerLink="/ecommerce/cart">Cart</button>
				<button mat-menu-item routerLink="/ecommerce/products">
					Products
				</button>
			</mat-menu>

			<div *ngIf="isAuthenticated; else noAuth">
				<button mat-button [matMenuTriggerFor]="menu">
					Welcome {{ userData.username | titlecase }} !
				</button>
				<mat-menu #menu="matMenu" xPosition="before">
					<button mat-menu-item routerLink="/logout">Logout</button>
					<button mat-menu-item routerLink="/account">
						Account Panel
					</button>
				</mat-menu>
			</div>

			<ng-template #noAuth>
				<button mat-button [matMenuTriggerFor]="menu">
					Welcome Guest!
				</button>
				<mat-menu #menu="matMenu" xPosition="before">
					<button mat-menu-item routerLink="/login">Login</button>
					<button mat-menu-item routerLink="/account">
						Account Panel
					</button>
				</mat-menu>
			</ng-template>
		</div>
	</div>
</mat-toolbar>

<div class="container mx-auto mt-10 mb-10">
	<router-outlet></router-outlet>
</div>
